<div class="container row">
    <div class=" offset-2 col-md-10 title">
        “A great book should leave you with many experiences,
        and slightly exhausted at the end. You live several lives while reading.”
        <br /> <b>-William Styron</b>
    </div>
</div>
<br /><br />
<div class="container row">
    <div class="offset-2 col-md-10 offset-2 para">
        <p>
            If you find refuge in a book, there is no other place you would rather be in right now.
            Whether you're a devotee of Agatha Christie's murder mysteries, Paulo Coelho's
            invaluable lessons on life or Murakami's surrealistic work, our collection of
            best selling fiction books will leave you spoiled for choice. Not only limited
            to fiction, discover game changing non-fiction books ranging from self-help to
            the most inspirational autobiographies and children’s books that your kids will
            find hard to put down. In case you’re waiting for new releases, you can pre-order
            a book on our page to assure yourself a copy!
        </p>
        <button class="btn btn-primary " [routerLink]="['/login']">Got it!</button>
    </div>
    <br/><br/>
</div>