<div class=" box container-fluid">
    <img class=" image " src="../../assets/sita.jpg" id="sita">
    <div class="matter">
        <h3>Book Description:</h3>
        <div>
            <label for="name">Name:</label>
            <span id="name">{{book.name}}</span>
        </div>
        <div>
            <label for="category">Category:</label>
            <span id="category">{{book.category}}</span>
        </div>
        <div>
            <label for="description">Description:</label>
            <p id="description">{{book.description}}</p>
        </div>
        <div>
            <label for="price">Price:</label>
            <span id="price">{{book.price}}</span>
        </div>
        <div>
            <label for="rating">Rating:</label>
            <span id="rating">{{book.rating}}</span>
        </div>
    </div>
    
</div>
